{
  "token": "",
  "join_message": "I has joined to do stuff 🌟",
  "owners": [
    86477779717066752
  ],
  "prefix": [
    "!"
  ],
  "activity": "games!",
  "activity_type": "playing|watching|listening|competing",
  "status_type": "online|idle|dnd",
  "twitter_data":{
    "bearer_token":{"Authorization": "Bearer YOUR_BEARER_TOKEN"},
    "base_url":"https://api.twitter.com/1.1/"
  },
  "pixiv_data":{
    "refresh_token": "YOUR_TOKEN"
  }  
}
